RemoteSystemsTempFiles/
.svn/
.metadata/
*.o
*.out
*.project
*.cproject
*/img/*
!*/img/makefile

*/app/*
!*/app/makefile
!*/app/*.cc

*/etc/eposcc.conf
*/etc/eposmkbi.conf
*/src/architecture/ia32/ia32_crt0.s
*/src/boot/pc_boot
*/src/boot/pc_boot.s
*/src/setup/pc_setup
*/tools/eposmkbi/eposmkbi
