import java.security.InvalidParameterException;
import java.text.ParseException;

class Parser {
	
	public static void main(String args[]) {
		if (args[0] == null) {
			throw new InvalidParameterException("Forneça uma sentença para ser analisada!");
		}
		
		String x = args[0];
		$(inicial)(x);
	}
	
	$(metodos)	
}